
/* 主内容区域 */
.content > dl {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--auto-rows-gap);
}
.list{
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}
/* #region */
.new ,.list{
  margin-left: 0;
  padding: clamp(15px, 1.4vh, 25px);
  background-color: rgb(255 255 255 / 50%);
  border-radius: 20px;
  font-size: 0.85em;
}
.new img {
  max-width: 10em;
  height: 5em;
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.new h4 {
  margin: 0;
  color: rgb(9, 181, 151);
  font-size: 1em;
}
.new p {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  opacity: 0.85;
  overflow: hidden;
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.new i {
  font-size: 0.75em;
}
/* #endregion */

.iconPaddingRight {
  padding-right: 0px;
}
/* 主内容区域 */
