/* 导入初始化样式 */
@import url("normalize.css");
/* @import url("media.css"); */
:root {
  /* 配色 */
  --font-color: #cdcdcd; /* Default font color */
  --bg-color: #1b1b1b; /* Default background color */
  --header-color: #ccffff; /* Header color */
  --footer-color: #56a0f8; /* Footer color */
  --font-size: 20px;
  --div-color: rgb(255 255 255 / 50%);
  /* 版心宽度 */
  --mySide-width: 384px;
  --content-width: 816px;
  --center-width: calc(
    var(--mySide-width) + var(--content-width) + var(--auto-gap)
  );
  --auto-gap: calc(8px + 1vw);
  --radius:20px;
}
/* 字体图标 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  padding-right: 5px;
  fill: currentColor;
  overflow: hidden;
}
@keyframes changeBg {
  0% { background-image: url('/img/bg0.jpg'); }
  33% { background-image: url('/img/bg1.jpg'); }
  66% { background-image: url('/img/bg2.jpg'); }
  100% { background-image: url('/img/bg0.jpg'); }
}
body {
  color: #24292e;
  font-size: var(--font-size);
  /* 版心布局 */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--auto-gap);
  animation: changeBg 300s infinite linear;
  background-size: cover; /* 让图片覆盖整个容器 */
  background-repeat: no-repeat; /* 防止图片重复 */
}
header {
  background-color: rgb(255 255 255 / 85%);
  position: sticky;
  top: 0;
  z-index: 10;
}
footer {
  background-color: rgb(35 85 115 / 85%);
}
.topBar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.topBar > nav {
  font-size: 1em;
  text-align: right;
}
.title {
  font-size: 1.1em;
  float: left;
  margin: 0;
}
.topBar a {
  color: rgb(255, 103, 0);
  text-decoration: none;
}
.topBar a:hover {
  background: #13c5f8;
  color: #fff;
}

.topBar,
.bottomBar {
  max-width: var(--center-width);
  margin: 0 auto;
}
.bottomBar {
  font-size: 0.75em;
}
main {
  display: flex;
  gap: var(--auto-gap);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
header,
main,
footer {
  padding-left: 20px;
  padding-right: 20px;
}
.content {
  max-width: var(--content-width);
}
.mySide {
  display: flex;
  flex-direction: column;
  width: clamp(0px, 34%, var(--mySide-width));
  gap: var(--auto-gap);
}
/* #region 作者信息栏目 */

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(5px, 1.5vh, 12px);
  position: relative;
}
.author::after {
  width: 100%;
  position: absolute;
  height: 80%;
  bottom: 0;
  z-index: -1;
  border-radius: 20px;
  background-color: var(--div-color);
  content: "";
}
.author > img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 100px;
  border-width: 0.3em;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px;
  transition: cubic-bezier(0.36, 0.46, 0.56, 1.39) 0.7s all;
}
.author > img:hover {
  transform: rotate(360deg);
}
.author > span {
  color: rgb(9, 181, 151);
  font-size: 0.8em;
}
.author > p {
  color: rgb(85, 85, 85);
  font-size: 0.75em;
  margin: 0;
}
.author > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr;
  justify-items: center;
  row-gap: clamp(5px, 1vh, 25px);
  column-gap: clamp(5px, 1.5vw, 25px);
  margin-bottom: clamp(5px, 1.5vh, 15px);
  font-size: 0.8em;
  text-align: center;
  color: rgb(85, 85, 85);
}
/* #endregion作者信息栏目 */
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.search >* {
  height: 35px;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 15px;
  border-width: 0;
  font-size: 0.75em;
}
.search >input {
  width: 70%;
  padding-left: 15px;
  padding-right: 15px;
}
.search >botton {
width: 20%;
}
/* #region 其它板块相同背景与样式 */
.dlStyle {
  background-color: var(--div-color);
  border-radius: 20px;
  margin: 0;
}
.dlStyle > dt > h4 {
  display: inline;
  font-size: 0.8em;
  color: rgb(1, 129, 218);
}
.dlStyle > dt > small {
  font-size: 0.75em;
  color: rgba(119, 119, 119, 0.618);
}
.dlStyle > dt {
  background-color: var(--div-color);

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  padding-top: clamp(5px, 1.4vh, 15px); /*calc(1vh + 2px)压缩慢*/
  padding-bottom: clamp(5px, 1.4vh, 15px); /*1.4vh压缩快*/
  padding-left: 15px;
  padding-right: 15px;
}
.dlStyle > dd {
  margin-left: 0;
}
/* #endregion 其它板块相同背景与样式 */

/* #region 内容单独样式 */
/* 关注我 */
.focusMe {
  padding: 1em;
  text-align: center;
  color: rgb(142, 142, 142);
}
/* 最新更新 */
.CloseNew {
  font-size: 0.75em;
  padding: 15px;
}
.CloseNew p {
  margin: 0;
}
/* 说说 */
.shuoShuo {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.shuoShuo > li {
  border-bottom: solid #0183ce 2px;
  display: flex;
  height: 45px;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}
.shuoShuo div {
  flex-shrink: 0;
  width: 80px;
  height: 40px;
  border: rgb(222, 222, 222) 5px solid;
  border-bottom-width: 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: #0183ce;
  color: white;
  text-align: center;
  align-content: center;
}
.shuoShuo strong {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 50px;
  font-size: 0.75em;
  color: rgba(36, 41, 46, 0.8);
}
@media only screen and (max-width: 1024px) {
  .left,
  .right {
    display: none;
  }
}
@media only screen and (max-width: 430px) {
  .mySide {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  /* body{
    color: yellowgreen;
  } */
}