@import "./normalize.css";
/* 导入初始化样式 */
@import "./normalize.css";
@import "./aside.css";
:root {
  /* 配色 */
  --primary-font-color: #101010;
  --secondary-font-color:#656565;
  --bg-color: #eeeeee;
  --header-color: #f6f6f6;
  --footer-color: #e0e0e0;
  --primary-font-color: #101010;
  --secondary-font-color:#656565;
  --bg-color: #eeeeee;
  --header-color: #f6f6f6;
  --footer-color: #e0e0e0;
  --font-size: 20px;
  --div-color: rgba(0, 0, 0, 0);
  /* 版心宽度 */
  --mySide-width: 384px;
  --content-width: 816px;
  --auto-columns-gap: clamp(5px, 3vw, 20px);
  --auto-rows-gap: clamp(5px, 3.5vh, 20px);
  --center-width: calc(
    var(--mySide-width) + var(--content-width) + var(--auto-columns-gap)
    var(--mySide-width) + var(--content-width) + var(--auto-columns-gap)
  );
  --radius: 20px;
  --double-shadow: -3px -4px 3px #ffffff90, 4px 5px 5px #434343;

  --radius: 20px;
  --double-shadow: -3px -4px 3px #ffffff90, 4px 5px 5px #434343;

}
/* 字体图标 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  padding-right: 5px;
  fill: currentColor;
  overflow: hidden;
}
@keyframes changeBg {
  0% {
    background-image: url("/img/bg0.jpg");
  }
  33% {
    background-image: url("/img/bg1.jpg");
  }
  66% {
    background-image: url("/img/bg2.jpg");
  }
  100% {
    background-image: url("/img/bg0.jpg");
  }
  0% {
    background-image: url("/img/bg0.jpg");
  }
  33% {
    background-image: url("/img/bg1.jpg");
  }
  66% {
    background-image: url("/img/bg2.jpg");
  }
  100% {
    background-image: url("/img/bg0.jpg");
  }
}
body {
  color: var(--primary-font-color);
  background-color: var(--bg-color);
  color: var(--primary-font-color);
  background-color: var(--bg-color);
  font-size: var(--font-size);
  /* 版心布局 */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: var(--auto-rows-gap);
  row-gap: var(--auto-rows-gap);
}
header {
  background-color: var(--header-color);
  box-shadow: 0 5px 5px #434343d1;
  background-color: var(--header-color);
  box-shadow: 0 5px 5px #434343d1;
  position: sticky;
  top: 0;
  z-index: 10;
}
footer {
  background-color: var(--footer-color);
  background-color: var(--footer-color);
}
.topBar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.topBar > nav {
  font-size: 1em;
  text-align: right;
}
.title {
  font-size: 1.1em;
  float: left;
  margin: 0;
}
.topBar a {
  color: rgb(255, 103, 0);
  text-decoration: none;
}
.topBar a:hover {
  background: #13c5f8;
  color: #fff;
}

.topBar,
.bottomBar {
  max-width: var(--center-width);
  margin: 0 auto;
}
.bottomBar {
  font-size: 0.75em;
}
main {
  display: flex;
  column-gap: var(--auto-columns-gap);
  column-gap: var(--auto-columns-gap);
  justify-content: center;
  align-items: flex-start;
}
header,
main,
footer {
  padding-left: clamp(5px, 1.5vw, 20px);
  padding-right: clamp(5px, 1.5vw, 20px);
  padding-left: clamp(5px, 1.5vw, 20px);
  padding-right: clamp(5px, 1.5vw, 20px);
}
.content {
  width: clamp(0px, 100%, var(--content-width));
  width: clamp(0px, 100%, var(--content-width));
}
.mySide {
  display: flex;
  flex-direction: column;
  width: clamp(0px, 34%, var(--mySide-width));
  row-gap: var(--auto-rows-gap);
  row-gap: var(--auto-rows-gap);
}
/* #region 作者信息栏目 */

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(5px, 1.6vh, 15px);
  row-gap: clamp(5px, 1.6vh, 15px);
  position: relative;
}
.author::after {
  width: 100%;
  position: absolute;
  height: 80%;
  bottom: 0;
  z-index: -1;
  border-radius: 20px;
  box-shadow: var(--double-shadow);
  box-shadow: var(--double-shadow);
  content: "";
  
}
#avatar {
  border-radius: 100px;
  box-shadow: inset 0px -2px 3px 0px #646464ba, 0px -2px 10px 1px #979797ba;
  
}
#avatar {
  border-radius: 100px;
  box-shadow: inset 0px -2px 3px 0px #646464ba, 0px -2px 10px 1px #979797ba;
}
#avatar > img {
#avatar > img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 100px;
  border-width: 0.1em;
  border-width: 0.1em;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  transition: cubic-bezier(0.7, 0.2, 0.3, 0.8)0.8s all;
  transition: cubic-bezier(0.7, 0.2, 0.3, 0.8)0.8s all;
}
#avatar > img:hover {
#avatar > img:hover {
  transform: rotate(360deg);
}
.author > span {
  color: rgb(9, 181, 151);
  font-size: 0.8em;
}
.author > p {
  color: rgb(85, 85, 85);
  font-size: 0.75em;
  margin: 0;
}
.author > div:last-child {
.author > div:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr;
  justify-items: center;
  row-gap: clamp(5px, 1vh, 25px);
  column-gap: clamp(5px, 1.5vw, 25px);
  margin-bottom: clamp(5px, 1.6vh, 15px);
  margin-bottom: clamp(5px, 1.6vh, 15px);
  font-size: 0.8em;
  text-align: center;
  color: rgb(85, 85, 85);
}
/* #endregion作者信息栏目 */
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.search > * {
.search > * {
  height: 35px;
  border-radius: 15px;
  border-width: 0;
  box-shadow: var(--double-shadow);
  box-shadow: var(--double-shadow);
  font-size: 0.75em;
}
.search > input {
.search > input {
  width: 70%;
  padding-left: 15px;
  padding-right: 15px;
}
.search botton {
  width: 20%;
.search botton {
  width: 20%;
}
/* #region 其它板块相同背景与样式 */
.dlStyle {
  background-color: var(--div-color);
  border-radius: 20px;
  margin: 0;
  box-shadow: var(--double-shadow);
  box-shadow: var(--double-shadow);
}
.dlStyle > dt > h4 {
  display: inline;
  font-size: 0.8em;
  color: rgb(1, 129, 218);
}
.dlStyle > dt > small {
  font-size: 0.75em;
  color: rgba(119, 119, 119, 0.618);
}
.dlStyle > dt {
  background-color: var(--div-color);
  box-shadow: 0px -3px 3px 0px #979797ba inset;
  box-shadow: 0px -3px 3px 0px #979797ba inset;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  padding-top: clamp(5px, 1.4vh, 15px); /*calc(1vh + 2px)压缩慢*/
  padding-bottom: clamp(5px, 1.4vh, 15px); /*1.4vh压缩快*/
  padding-left: 15px;
  padding-right: 15px;
}
.dlStyle > dd {
  margin-left: 0;
}
/* #endregion 其它板块相同背景与样式 */

/* #region 内容单独样式 */
/* 关注我 */
.focusMe {
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
  font-size: 0.8em;
  color: rgb(142, 142, 142);
}
/* 最新更新 */
.CloseNew {
  font-size: 0.75em;
  padding: 15px;
}
.CloseNew p {
  margin: 0;
}
/* 说说 */
.shuoShuo {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.shuoShuo > li {
  border-bottom: solid #0183ce 2px;
  display: flex;
  height: 45px;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}
.shuoShuo div {
  flex-shrink: 0;
  width: 80px;
  height: 40px;
  border: rgb(222, 222, 222) 5px solid;
  border-bottom-width: 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: #0183ce;
  color: white;
  text-align: center;
  align-content: center;
}
.shuoShuo strong {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-content: center;
  align-content: center;
  font-size: 0.75em;
  color: rgba(36, 41, 46, 0.8);
}

/* #region media*响应式 */


/* #region media*响应式 */

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 430px) {
  .mySide {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  /* body{
    color: yellowgreen;
  } */
}
/* #endregion 内容单独样式 */

/* #endregion 内容单独样式 */
