:root {
  --error-img: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgb(200 200 200 / 80%)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-image'><rect x='3' y='3' width='18' height='18' rx='2' ry='2'></rect><circle cx='8.5' cy='8.5' r='1.5'></circle><polyline points='21 15 16 10 5 21'></polyline></svg>");
  --sidebar-width: 150px;
}
/* 轮播图 */
.slide > img {
  width: 100%;
}
.slide-text {
  width: 15%;
  height: 300px;
  position: absolute;
  right: 50px;
  top: 50px;
  text-align: center;
  align-content: center;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(22, 22, 26, 0.8) 22%,
    rgba(22, 22, 26, 0.8) 81%,
    transparent
  );
}
/* 边栏分类 */
.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-image: linear-gradient(
    270deg,
    rgba(22, 22, 26, 0),
    rgba(22, 22, 26, 0.9)
  );
  color: white;
  z-index: 10; /* Ensure it appears on top */
}
.footer {
  position: relative;
  left: var(--sidebar-width);
  bottom: 0;
  width:  calc(100% - var(--sidebar-width));
  height: 50px;
}
.filter {
  width: 100%;
  height: 50px;
  display: flex;
  background-image: linear-gradient(
    180deg,
    rgba(22, 22, 26, 0),
    rgba(22, 22, 26, 0.9)
  );
}
/* 存放视频内容的窗口 */
.content {
  width: calc(100% - var(--sidebar-width));
  position: relative;
  left: var(--sidebar-width);
}
/* 单个个视频图片的样式 */
.video-cover {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 5px 5px 5px 5px;
}
/* 视频封面的图片区域 */
.video-cover > .video-img {
  height: 260px;
  width: 100%;
  position: relative;
}
/* 封面img */
.video-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 确保图片按比例填充 */
}
/* position: absolute 不能对 position: static 进行定位。 */
.video-img > .video-score {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #00a9f5;
  font-size: 14px;
  font-weight: 700;
}
.video-img > .video-mask {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.35) 60%,
    rgba(0, 0, 0, 0.55)
  );
}
/* before 负责展示默认的失败图片，这里大神是将裂开的图放到了中间，所以background后面给了两个50%。想要使默认图撑满可以改为100% */
/* .video-img > img::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(230, 230, 230) var(--error-img) no-repeat center / 60% 60%;
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
} */
/* after用来展示上面的说明文字 */
/* .video-img > img::after {
  content: attr(alt);
  width: 100%;
  height: 20%;
  background-image: linear-gradient(
    180deg,
    rgba(22, 22, 26, 0),
    rgba(22, 22, 26, 0.9)
  );
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 500%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}  */
/* 封面下面的字体 */
.video-cover > .video-name,
.video-cover > .video-overview {
  text-align: center;
  margin: 0;
  align-content: center;
  min-height: 20px;
  font-size: 14px;
}
/* .video-cover > .video-name:empty {
  width: 6em;
  height: 15px;
  background-color: azure;
  text-align: center;
}

.video-cover > .video-overview:empty {
  width: 10em;
  height: 15px;
  background-color: rgb(57, 235, 235);
  text-align: center;
} */
