@import url("common.css");
:root {
  --error-img: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgb(200 200 200 / 80%)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-image'><rect x='3' y='3' width='18' height='18' rx='2' ry='2'></rect><circle cx='8.5' cy='8.5' r='1.5'></circle><polyline points='21 15 16 10 5 21'></polyline></svg>");
  --sidebar-width: min(max(100px, 10%), 200px);
  /* 导入其它css */
}


/* 存放视频内容的窗口 */
.content {
  padding-left: var(--sidebar-width);
  font-size: 0;
}
/* #region单个图片块的样式 */
.pack {
  display: inline-block;
  padding: 5px;
  overflow: hidden; /* 隐藏溢出部分 */
}
/* 视频封面的图片区域 */
.cover {
  position: relative;
}
/* 封面img */
.cover > img {
  object-fit: cover; /* 确保图片按比例填充 */
}
.cover,
.cover > img {
  width: 200px;
  height: 260px;
  border-radius: 10px;
}
/* position: absolute 不能对 position: static 进行定位。 */
.score {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #00a9f5;
  font-size: 14px;
  font-weight: bold;
}
.mask {
  width: inherit;
  height: 30%;
  border-radius: inherit;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(65 62 62 / 60%) 45%,
    rgb(8 8 8 / 87%)
  );
}
/* before 负责展示默认的失败图片，这里大神是将裂开的图放到了中间，所以background后面给了两个50%。想要使默认图撑满可以改为100% */
/* .video-img > img::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(230, 230, 230) var(--error-img) no-repeat center / 60% 60%;
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
}  */
/* after用来展示上面的说明文字 */
/* .video-img > img::after {
  content: attr(alt);
  width: 100%;
  height: 20%;
  background-image: linear-gradient(
    180deg,
    rgba(22, 22, 26, 0),
    rgba(22, 22, 26, 0.9)
  );
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 500%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}  */
/* 封面下面的字体 */
.caption,
.overview {
  text-align: center;
  vertical-align: center;
  font-size: 16px;
  margin: 0;
}
.caption:empty {
  width: 6em;
  height: 15px;
  background-color: azure;
  text-align: center;
}

.overview:empty {
  width: 10em;
  height: 15px;
  background-color: rgb(57, 235, 235);
  text-align: center;
}
/* #endregion单个图片块的样式 */

.hidden {
  width: 100%;
  height: 100%;
  background-color: rgb(22, 22, 22);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
#detail:target {
  display: block;
}
.display {
  display: block;
}
.close {
  width: 50px;
  height: 50px;
  background-color: rgb(170, 170, 170);
}
