body{
	margin:0px;
}
header{
	width:100%;
	height:80px;
	position:
	fixed;
	/* background-color: #3665c7; */
}
nav{
	width:200px;
	height:100% ;
	position:
	fixed;
	background-color: #bd70ca;
}
main{
	position:absolute
	width:auto;
	height:800px;
	background-color: #68a168;
	
} 
aside{
	width:200px;
	height:100%;
	background-color:
	blue;
	position:
	fixed;
	right:0px;
	bottom:0px
}
footer{
	width:auto;
	height:100px;
	background-color:pink;
	
}